body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: #212529;
  color: white;
}

html {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 90px;
  padding: 0 20px;
  padding-top: 10px;
}

.navbar .left,
.navbar .right {
  display: flex;
  gap: 70px;
}

.navbar .right {
  margin-right: 20px;
  gap: 40px;
}

.navbar .left {
  margin-left: 15px;
  height: 90px;
  width: 40px;
  border-radius: 10px;
}

.navbar a {
  color: black;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  font-size: 21px;
}

.navbar a:hover {
  color: rgb(44, 41, 41);
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  font-size: 21px;
}

.my-account .about_us {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
  }

  .navbar .left,
  .navbar .right {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .navbar .left img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
  }

  .signup_button,
  .login_button {
    width: 100%;
    text-align: center;
  }

  .navbar a {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .navbar a {
    font-size: 16px;
    text-align: center;
  }

  .signup_button,
  .login_button {
    height: 40px;
    font-size: 16px;
  }
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  transition: 0.4s;
  border-radius: 32px;
  outline: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: 2px solid #b0b0b0;
  left: -1px;
  bottom: -1px;
  background-color: #fff;
  transition: transform 0.25s ease-in-out 0s;
}

.slider-icon {
  opacity: 0;
  height: 12px;
  width: 12px;
  stroke-width: 8;
  position: absolute;
  z-index: 999;
  stroke: #222222;
  right: 60%;
  top: 30%;
  transition: right ease-in-out 0.3s, opacity ease-in-out 0.15s;
}

input:checked + .slider {
  background-color: #222222;
}

input:checked + .slider .slider-icon {
  opacity: 1;
  right: 20%;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  outline-color: #181818;
}

.hero-image {
  margin-top: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero_section_img.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Libre Baskerville", serif;
}

.hero-text p {
  font-size: 30px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}

.feature {
  margin: 40px auto;
  text-align: center;
}

.feature-heading {
  font-size: 60px;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 20px;
}

.feature-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 20px;
}

.feature-content .card {
  width: 18rem;
  margin: 10px auto;
}

@media (max-width: 768px) {
  .feature-heading {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .feature-content .card {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .feature-heading {
    font-size: 30px;
  }

  .feature-content {
    gap: 20px;
  }

  .feature-content .card {
    width: 90%;
  }
}

.heading {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 20px;
}

footer {
  height: 150px;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
